---
layout: two-column
show_outline: 1
show_schedule: 1
---

{{content}}

<h2 id="do-now">Please Complete the Following Tasks</h2>
{% assign num = 1 %}

{% if page.exercise_url %}
    <h3 id="code">{{num}}. Download the Exercise Files</h3> 
    <a class="nu-button" href="{{site.baseurl}}/course-files/lectures/{{page.exercise_url}}" target="_blank">
        Exercise Files <i class="fas fa-download"></i>
    </a>
    {% assign num = num | plus: 1 %}
{% endif %}

<h3 id="slides">{{num}}. Review the Slides</h3>  
{% assign num = num | plus: 1 %}
{% if page.slides %}
    <ol>
    {% for slide in page.slides %}
        <li>
            <a href="{{slide.url}}" target="_blank">{{slide.title}}</a>
        </li>
    {% endfor %}
    </ol>
{% else %}
    <p>Slides will be posted soon.</p>
{% endif %}

{% if page.videos %}
<h3 id="videos">{{num}}. Watch the Lecture Video(s)</h3>
{% assign num = num | plus: 1 %}

    <table class="medium module">
        <thead>
            <tr>
                <th>Link</th>
                <th>Title</th>
                <th>Type</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
        {% assign vnum = 1 %}
        {% for video in page.videos %}
            {% assign className = "recorded" %}
            {% assign type = "pre-recorded" %}
            {% if video.live %}
                {% assign className = "live" %}
                {% assign type = "lecture" %}
            {% endif %}
            <tr>
                <td>
                    <a class="{{ className }}" href="{{video.url}}" target="_blank">
                        Video {{vnum}} <i class="fa fa-link"></i>
                    </a>
                </td>
                <td>
                    {{video.title}}
                </td>
                <td>
                    {{ type }}
                </td>
                <td>
                    {{ video.duration }}
                </td>
            </tr>
            {% assign vnum = vnum | plus: 1 %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if page.readings %}
    <h3 id="readings">{{ num }}. Review / Study the Supplemental Materials</h3>
    <p>
        Note: these readings / videos are suggested for additional context / 
        examples, but not required.
    </p>
    {% include page_readings.html %} 
    {% assign num = num | plus: 1 %}
{% endif %}

{% if page.quiz_url %}
    <h3 id="quiz">{{ num }}. Take the Quiz</h3>
    <p>
        Note: The quiz is to help you test your own understanding 
        of the concepts. It is not graded, but it helps us understand 
        how you're progressing through the course.
    </p>
    {{page.quiz_url}}
    {% assign num = num | plus: 1 %}
{% endif %}

{% if page.extras %}
    <h3 id="reminders">{{ num }}. Reminders</h3>
    <table class="medium">
        <thead>
            <tr>
                <th>Date</th>
                <th>Action Item</th>
            </tr>
        </thead>
        <tbody>
        {% for extra in page.extras %}
        <tr>
            <td>
                {{extra.due_date}}
                {% if extra.due_date_note %}
                <br>({{ extra.due_date_note }})
                {% endif %}
            </td>
            <td>
                {{extra.comments}}
                {% if extra.url %}
                    <br><a href="{{extra.url}}">{{extra.title}}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if page.include_page %}
    {% capture my_include %}{% include_relative {{ page.include_page }} %}{% endcapture %}
    {{ my_include | markdownify }}
{% endif %}
